<!-- TODO: make mobile first! -->
<!-- base file that provides the framework for all pages that are displayed
to the user -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Franziskus Nakajima">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#cddac7">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Lora|Cormorant:300italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- header below -->
        <header class="col-xs-12 logo">
          <h1><a href="/" class="logo">tell me all about it</a></h1>
        </header>
        <!-- this is the menu -->
        {% block menu %}
        <nav class="main-menu col-xs-12">
          <a href="/" class="menu-item">Home</a>
          <!-- show menu items depending on existing user or visitor -->
          {% if user %}
            <a href="/newpost" class="menu-item">Write a new post</a>
            <p class="menu-item">Logged in as: {{user.name_by_user}}</p>
            <a href="/logout" class="menu-item">Logout</a>
          {% else %}
            <a href="/login" class="menu-item">Login</a>
            <a href="/signup" class="menu-item">Sign Up</a>
          {% endif %}
        </nav>
        {% endblock menu %}
        <!-- the content from the page that is called gets displayed here -->
        {% block content %}
        <h2 class="section-title">
          You have found a page that does not exist
        </h2>
        {% endblock content %}
      </div>

    </div>
    <!-- add ajax script at bottom of page so everything is loaded before the script -->
    <script src="/js/script.js"></script>
  </body>
</html>
