{% extends "base.html" %}

{% block title %}Read the blog{% endblock %}

{% block content %}
<!-- if we're on the newpost page, the blog post form gets rendered in here -->
{% block newpost %}
{% endblock %}
<!-- display blog entries -->
<section class="blog-entries">
  <h2 class="section-header">Read blog entries:</h2>
  {% for entry in entries %}
  <article class="blog-article">
    <div class="entry-title col-9"><h3>{{entry.subject}}</h3></div>
    <div class="date col-3">{{entry.created.strftime("%d %B %Y, %H:%M")}}, by {{entry.author}}</div>
    <div class="entry-text col-12"><p class="entry">{{entry.render() |safe }}</p></div>
    <div class="padded small col-1"><a href="/{{entry.key.id()}}">Permalink</a></div>
    <div class="grey small padded col-1">
    <!-- Show edit link only for own blog posts -->
      {% if user %}
        {% if user.key.id() == entry.author_key %}
          <a href="/editpost/{{entry.key.id()}}">Edit</a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-1 small padded">
      <p>
        <a href="#" class="like" data-key="{{entry.key.id()}}">↑ <span>{{entry.likes}}</span> Likes</a>
      </p>
    </div>
    <div class="col-1 grey small padded">
      {% if user %}
        {% if user.key.id() in entry.liked_by %}
          <p class="you-like">You like this</p>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-4 padded small">
      <p class="error">{{error}}<p>
    </div>
    <div class="padded grey small date col-4">
      <!-- show edited time and date only if post has been edited -->
      {% if entry.last_modified %}
        Edited {{entry.last_modified.strftime("%d %B %Y, %H:%M")}}
      {% endif %}
    </div>

    <!-- add div for all comments -->
    <div class="col-12 padded comments small">
      <p class="error">{{error}}</p>
      <!-- show comment text input if user is logged in -->
    {% if user %}
      <div class="comment-placeholder col-2">
        <p>Say something about it</p>
      </div>
      <form method="post" class="comment-input-form">
        <label>
          <textarea name="comment" class="comment-input" placeholder="Say your piece"></textarea>
          <a href="#" data-parentid="{{entry.key.id()}}" class="submit-button col-1">Say it</a>
        </label>
      </form>
      {% if error %}
        <div class="col-12 padded small">
          <p class="error">
            {{error}}
          </p>
        </div>
      {%endif %}
    {% endif %}
        {% for comment in entry.comments() %}
        <div class="single-comment">
            <p class="grey small">{{comment.author_name}} said:</p>
            <p>{{comment.content}}</p>
        </div>
        {% endfor %}
    </div>
  </article>
  {% endfor %}

</section>

{% endblock %}
