{% extends "base.html" %}
<!-- Update title to current page -->
{% block title %}Read the blog{% endblock %}
<!-- content that gets inserted into content block on base page -->
{% block content %}
<!-- if we're on the newpost page, the blog post form gets rendered in here -->
{% block newpost %}
{% endblock %}
<!-- display blog posts -->
<section class="blog-posts col-xs-12">
  <h2 class="section-header">Read about it:</h2>
  <!-- show all existing blog posts -->
  {% for post in posts %}
  <article class="blog-article single col-xs-12">
    <!-- Post subject and created date -->

    <div class="row post-subject-date">
      <div class="date small col-xs-12">
        {{post.created.strftime("%d %B %Y, %H:%M")}}, by {{post.author}}
      </div>

      <div class="post-title col-xs-12">
        <h3>{{post.subject}}</h3>
      </div>

    </div>
    <!-- Post text -->
    <div class="post-text row">
      <p class="post">{{post.render() |safe }}</p>
    </div>

    <div class="post-details row">
      <!-- show different links for likes, depending on user or
      visitor (not logged in)-->
      <div class="col-xs-4 small">
        {% if user %}
        <p>
          <a href="#" class="like" data-key="{{post.key.id()}}">
            ↑ <span>{{post.likes}}</span> Likes
          </a>
          {% if user.key.id() in post.liked_by %}
            <span class="you-like grey small">You like this</span>
          {% endif %}
        </p>
        {% else %}
        <p>
          <a href="/login" class="no-user-like">↑
          <span>{{post.likes}}</span> Likes</a>
        </p>
        {% endif %}
      </div>

      <!-- Show edit and delete link only for own blog posts -->
      <div class="edit-delete grey small col-xs-4">
        {% if user %}
          {% if user.key.id() == post.author_key %}
            <a href="/editpost/{{post.key.id()}}">Edit</a> |
            <a href="#" data-ids="{{post.key.id()}}" class="delete">Delete</a>
          {% endif %}
        {% endif %}
      </div>

      <!-- show edited time and date only if post has been edited -->
      <div class=" grey small col-xs-6">
        {% if post.last_modified %}
          Edited {{post.last_modified.strftime("%d.%m.'%y, %H:%M")}}
        {% endif %}
      </div>

      <!-- div for error messages -->
      <div class="error small col-xs-6">
        <p>{{error}}<p>
      </div>

      <!-- Permalink -->
      <div class="small col-xs-12">
        <a href="/{{post.key.id()}}">Permalink</a>
      </div>

    </div>

    <!-- add div for all comments -->
    <div class="comments small col-xs-12">
      <p class="error">{{error}}</p>
      <!-- show comment text input if user is logged in -->
      {% if user %}
      <!-- when user clicks on placeholder text, comment form is shown -->
      <div class="comment-placeholder col-xs-12">
        <p>Say something about it</p>
      </div>

      <form method="post" class="comment-input-form row">
        <label class="col-xs-12">
          <textarea name="comment" class="comment-input col-xs-12" placeholder="Give us a piece of your mind"></textarea>
          <a href="#" data-parentid="{{post.key.id()}}" class="submit-button">Say it</a> |
          <a href="#" class="cancel-comment">Cancel</a>
        </label>
      </form>

      {% if error %}
      <div class="col-xs-12 small">
        <p class="error">
          {{error}}
        </p>
      </div>
      {%endif %}

      {% endif %}
      <!-- show all comments for this post -->
      <div class="comment-list row">
        {% for comment in post.get_comments() %}
          <!-- hidden comment edit form gets displayed when user clicks edit -->
          <div class="comment-edit-form col-xs-12">
            <form method="post" class="edit-form">
              <textarea name="edit-comment" class="comment-input col-xs-12">{{comment.content}}</textarea>
              <a href="#" data-commentid="{{comment.key.id()}};{{post.key.id()}}" class="save-button">Save</a> |
              <a href="#" class="cancel-button">Cancel</a>
            </form>
            <p class="error"><p>
          </div>

          <!-- div for each comment -->
          <div class="single-comment single col-xs-12">
            <p class="grey small border-top">{{comment.author_name}} said:</p>
            <p class="comment-content">
              {{comment.content | safe}}
            </p>
            <!-- show edit and delete links only if user is logged in and only
            for own comments -->
            {% if user: %}
              {% if user.key.id() == comment.author_id %}
                {% if comment.author_id == user.key.id() %}
              <a href="#" class="edit">Edit</a> |
              <a href="#" data-ids="{{comment.key.id()}};{{post.key.id()}}" class="delete">Delete</a>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}

</section>

{% endblock %}
