{% extends "base.html" %}

{% block title %}Edit a post{% endblock %}

{% block content %}

<section class="submission-form">
  <h2 class="section-header">Edit your post</h2>
  <form method="post">
    <label>
      <div class="input-title">Title: </div>
      <input type="text" name="subject" value="{{post.subject}}" class="title-input">
    </label>
    <br>
    <br>
    <label>
      <div class="input-title">Change your story here: </div>
      <textarea name="content" class="post-input">{{post.content}}</textarea>
    </label>
    <br>
    {% if error %}
      <div class="error" style="color: red;">{{error}}</div>
      <br>
    {% endif %}
    <button>rewrite your story</button>
     <a href="{{referrer}}" class="small">cancel</a>

  </form>
</section>

{% endblock %}
