<!-- block for editing a post, renders form to edit post -->
{% extends "base.html" %}

{% block title %}Edit a post{% endblock %}

{% block content %}

<section class="submission-form col-xs-12">
  <h2 class="section-header">Edit your post</h2>
  <form method="post">
    <label>
      <div class="post-title"><h2>Title: </h2></div>
      <input type="text" name="subject" value="{{post.subject}}" class="title-input form-input">
    </label>
    <br>
    <br>
    <label>
      <div class="post-title"><h3>Change your story here: </h3></div>
      <textarea name="content" class="post-input form-input">{{post.content}}</textarea>
    </label>
    <br>
    {% if error %}
      <div class="error" style="color: red;">{{error}}</div>
      <br>
    {% endif %}
    <input type="submit" value="Rewrite your story" class="submit-post">
     <a href="{{referrer}}" class="small">cancel</a>

  </form>
</section>

{% endblock %}
