<!-- login page -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block menu %}{{ super() }}{% endblock %}

{% block content %}
<section class="login-form">
  <h2 class="section-header">Please fill in the required fields below:</h2>
  <form method="post">
    <table>
      <tr>
        <td>
          <p>Username: </p>
        </td>
        <td>
          <input type="text" name="username" value="{{username}}">
        </td>
      </tr>
      <tr>
        <td>
          <p>Password: </p>
        </td>
        <td>
          <input type="password" name="password" value="">
        </td>
      </tr>
      <!-- render row for erros only if there was an issue with the user data-->
      {% if error %}
        <tr>
          <td colspan="2">
            <p class="error">{{error}}</p>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td colspan="2">
          <input type="submit" value="Show me my stuff">
        </td>
      </tr>
    </table>
    <div class="cannot-login">
      <p>No login data? <a href="/signup">Sign up here</a></p>
      <!-- one day we'll provide a reset password link here -->
      <p>Forgot your password? We'll build something for that case soon.</p>
    </div>
  </form>
</section>

{% endblock %}
