<!-- sign up form -->
{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<section class="signup-form col-xs-12">
  <form method="post">
    <h2 class="section-header">Please fill in the required fields below:</h2>
    <table>
      <tr>
        <td>
          <p>Username: </p>
        </td>
        <td>
          <input type="text" name="username" value="{{username}}" class="form-input">
        </td>
        <td>
          <p class="error">{{error1}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Password: </p>
        </td>
        <td>
          <input type="password" name="password" value="{{password}}" class="form-input">
        </td>
        <td>
          <p class="error">{{error2}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Repeat password: </p>
        </td>
        <td>
            <input type="password" name="verify" value="{{verify}}" class="form-input">
        </td>
        <td>
          <p class="error">{{error3}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>E-mail address (optional): </p>
        </td>
        <td>
          <input type="text" name="email" value="{{email}}" class="form-input">
        </td>
        <td>
          <p class="error">{{error4}}</p>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input type="submit" value="Please let me in" class="submit-login">
        </td>
        <td>
        </td>
      </tr>
    </table>
  </form>
  <div class="to-login">
    <p>Already signed up? <a href="/login">Login here</a></p>
  </div>
</section>
{% endblock %}
